# Site Configuration
NEXT_PUBLIC_SITE_URL=https://gasinfinito.com
NEXT_PUBLIC_SITE_NAME=Gás Infinito

# Facebook Pixel
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=1751428175392069
FACEBOOK_ACCESS_TOKEN=EAALl8dnIGZCABPJ8r51ygNU70ATWjLl9y9CZALsZAqxoAEugtl7YfqMRV6W9dCFwFBtoiwsMj9u2b7n7KJZCsfF3qetP4QZCstu7x4HeVeutKvFD9s23ztmICqIFIrgrXs3QLZBugX4arXXThLTQLf3je4Gc3Kk3CFqY7eHlH4HEEVKfVexbHVvO5tZBAKtPZCGLswZDZD

# Product Configuration
NEXT_PUBLIC_PRODUCT_NAME=Gás Infinito - Planilha de Treino
NEXT_PUBLIC_PRODUCT_PRICE=29.90
NEXT_PUBLIC_PRODUCT_ORIGINAL_PRICE=97.00
NEXT_PUBLIC_PRODUCT_CURRENCY=BRL

# Hotmart
NEXT_PUBLIC_HOTMART_URL=https://pay.hotmart.com/U100991696O?off=npmpk04i

# Social Media
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/lucioflaviopersonalbjj/
NEXT_PUBLIC_DEVELOPER_URL=https://www.instagram.com/humbertodev.js/
